<h2>Procedimentos</h2>

<div class="view-container">
  <mat-card class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000001</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle> Hosp.: ASSOCIACAO EVANGELICA BENEFICENTE ESPIRI </mat-card-subtitle>
      <mat-card-subtitle> Pac.:  JOAO ANDRE DA SILVA  </mat-card-subtitle>
      <mat-card-subtitle> Med.:  DR. ALFREDO NUNES FERREIRA NET </mat-card-subtitle>
      <button mat-raised-button color="primary" class='btstatus'> Status </button>
    </mat-card-content>
  </mat-card>
<!--
  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000002</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000003</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000004</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000005</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000006</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000007</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000008</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000009</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title># 000010</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-subtitle>Hosp.: SANTA CASA</mat-card-subtitle>
      <mat-card-subtitle>Pac. PACIENTE A DA DO :</mat-card-subtitle>
      <mat-card-subtitle>Med.: Medido do A a B</mat-card-subtitle>
      <button mat-raised-button class="btstatus" color="primary">Status</button>
    </mat-card-content>
  </mat-card> -->

  <div class="sidenav-content">
    <button mat-fab color="primary" class="btadicionar" (click)="onNewAgendamento()" matTooltip="Novo Agendamento"
      matTooltipPosition="before">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>